---
const { allPosts } = Astro.props;
const formatDate = (date: string | Date) => {
    return new Date(date).toLocaleDateString("en-US", {
        year: "numeric",
        month: "short",
        day: "numeric",
    });
};

const formatTags = (tags: string[]) => {
    let tagString = ""
    for(let tag of tags) {
        tagString = tagString + "#" + tag + " "
    }
    return tagString.trimEnd()
}
---

<div class="post-list">
    <div class="blog-list">
        {
            allPosts.map((post: any) => (
                <a href={`/blog/${post.id}`}>
                    <article class="entry-card">
                        <div class="post-meta">
                            <p class="post-time-stamp">{formatDate(post.data.pubDate)}</p>
                            <h3>{post.data.title}</h3>
                            <p class="post-desc">{post.data.description}</p>
                            <p class="post-tags">{formatTags(post.data.tags)}</p>
                        </div>
                    </article>
                </a>
            ))
        }
    </div>
    <aside class="meta"></aside>
</div>

<style>
    .post-meta {
        /* border-bottom: 2px dotted black; */
        padding-bottom: 0.5rem;
        margin: 0 0 2rem 0;
    }

    .post-meta > h3 {
        margin: 0rem 0 0 0;

    }

    .post-desc {
        margin: 0 0 0 0;
        font-size: small;
    }

    .post-time-stamp {
        font-size: x-small;
        margin: 0;
        color: grey;
    }
    .post-tags{
        font-size: x-small;
        margin: 0;
        color: grey;
    }

    a{
        text-decoration: none;
        color: inherit;
    }
    a:visited {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: none;
        color: grey;
    }
     
    @media (width < 800px) {
        .secondary {
            flex-direction: column;
        }
    }

</style>
