---
import "../styles/globals.css";
import "../styles/blog.css";
import Header from "../components/Header.astro";
const { frontmatter } = Astro.props;
const paragrap = false;
const pubTime = new Date(frontmatter.pubDate);
const month = pubTime.toDateString();
let tag
if (frontmatter.tags  == null) {
    tag = null
} else {
    tag = frontmatter.tags[0]
}
let blogMeta = [frontmatter.week, month, tag]
blogMeta = blogMeta.filter(x => !!x)
---

<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body class="blog">
        <main>
            <Header pageTitle="The Blog" paragraph={paragrap} />
            <p class="entry-desc">{frontmatter.description}</p>
            {
                frontmatter.image && (
                    <img
                        class="title-img"
                        src={frontmatter.image.url}
                        width="300"
                        alt={frontmatter.image.alt}
                    />
                )
            }
            <section class="blog-body" id="blog-body">
                <h1 class="entry-title">{frontmatter.title}</h1>
                <div class="blog-header">
                    <ul>
                        {blogMeta.map((key) => <li>{key}</li>)}
                    </ul>
                </div>
                <slot />
            </section>
        </main>
    </body>
</html>
<script>
    const image = document.querySelector(".title-img");
    console.log(image);
    if (image == null) {
        const blogBody: any = document.getElementById("blog-body");
        blogBody.style.position = "static";
    }
</script>
