---
import "../styles/globals.css";
import "../styles/blog.css";
import Header from "../components/Header.astro";
import BlogFooterNav from "../components/BlogFooterNav.astro";
const { frontmatter } = Astro.props;
const paragrap = false;
const pubTime = new Date(frontmatter.pubDate);
const month = pubTime.toLocaleDateString("en-US", {
    weekday: "short",
    month: "short",
    day: "2-digit",
    year: "numeric",
    timeZone: "Asia/Kolkata",
});
let tag;
if (frontmatter.tags == null) {
    tag = null;
} else {
    tag = frontmatter.tags[0];
}
let blogMeta = [frontmatter.week, month, tag];
blogMeta = blogMeta.filter((x) => !!x);
---

<div class="blog" id="blog">
    {
        frontmatter.image && (
            <img
                class="title-img"
                src={frontmatter.image.url}
                width="300"
                alt={frontmatter.image.alt}
            />
        )
    }
    <section class="blog-body" id="blog-body">
        <h2 class="entry-title">{frontmatter.title}</h2>
        <div class="blog-header">
            <ul>
                {blogMeta.map((key) => <li>{key}</li>)}
            </ul>
        </div>
        <p class="entry-desc"><em>{frontmatter.description}</em></p>
        <slot />
        <BlogFooterNav />
    </section>
</div>

<script>
    const image = document.querySelector(".title-img");

    if (image == null) {
        const blogBody: any = document.getElementById("blog-body");
        const blog: any = document.getElementById("blog");
        blogBody.style.position = "static";
        blog.style.marginTop = "3rem";
    } else {
        const url = image.getAttribute("src");
        if (url === "") {
            const blogBody: any = document.getElementById("blog-body");
            const blog: any = document.getElementById("blog");
            blogBody.style.position = "static";
            blog.style.marginTop = "3rem";
        }
    }
</script>
